@import "tailwindcss";

@theme {
  --color-primary: #13ec13;
  --color-background-light: #f6f8f6;
  --color-background-dark: #102210;
  --color-wood-light: #e8dfd2;
  --color-wood-dark: #5c4d3c;
  --font-display: "Inter", sans-serif;
  --font-sans: "Montserrat", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-display);
    overflow-x: hidden;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-sans);
  }
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #d1d5db;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #9ca3af;
  }
}
